<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login - Taller Web I</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />

    <style>
        /* Eliminar márgenes y centrar el contenido */
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f9fa; /* Fondo suave */
        }

        .card {
            width: 100%;
            max-width: 400px;
        }
    </style>
</head>
<body>
<div class="card shadow-lg">
    <div class="card-header text-center bg-primary text-white">
        <h4>Login - Taller Web I</h4>
    </div>
    <div class="card-body">
        <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input th:field="*{email}" id="email" type="email" class="form-control" placeholder="Ingrese su email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input th:field="*{password}" id="password" type="password" class="form-control" placeholder="Ingrese su contraseña" required>
            </div>
            <button id="btn-login" class="btn btn-primary w-100" type="submit">
                <i class="bi bi-box-arrow-in-right"></i> Iniciar sesion
            </button>
            <p th:if="${error != null}" class="alert alert-danger mt-3" th:text="'Error: ' + ${error}"></p>
        </form>
    </div>
    <div class="card-footer text-center">
        <a id="ir-a-registrarme" href="nuevo-usuario" class="text-primary">No tengo cuenta. Registrate aca!</a>
    </div>
</div>

<!-- Bootstrap core JS -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>
